body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
    padding: 0;
}
address {
    font-style: normal;
}
img {
    display: block;
}

/*-----------HEADER-------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
}
.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-header {
    color: var(--NAVY-BLUE, #2E2F42);
}

.header-menu-link {
    color:  #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover {
    color: var(--OCEAN, #404BBF);
}

.header-menu-link.current {
    position: relative;
    color: #404BBF;
}

.header-menu-link.current::after {
content: "";
width: 48px;
height: 4px;
background-color: #404BBF;
display: block;
position: absolute;
bottom: -1px;
border-radius: 2px;
}

.header-menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

.address {
    font-style: normal;
}
.address-list {
    padding-top: 24px;
    padding-bottom: 24px;
} 

.address-item-link {
color:#434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding-bottom: 24px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item-link:hover {
    color: #404BBF;
}
.address-item-link:focus {
    color: #404BBF;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*-------------------------------*/

/*-------------HERO--------------*/

.hero {
    background: var(--NAVY-BLUE, #2E2F42);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70) ), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
}
.hero-container {
    
}
.hero-title {
    color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto;
}
.hero-btn{
    color: #FFF;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    padding-bottom: 24px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
background: #404BBF;
 }

.hero-btn:focus {
    background-color: #404BBF;
 }

/*-------------------------------*/

/*-----------FEATURES-------------*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .features-list {
    display: flex;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .icons-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
  }

.features-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.feature-item-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*-------------------------------*/

/*-----------TEAM-------------*/

.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 24 * 3) / 4);
    border-radius: 0px 0px 4px 4px;
     background: var(--WHITE, #FFF);
     box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-members {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-img {
}
.team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.social-networks-list {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 24px;
}

.social-networks-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
background-color: #404bbf;;
}

.team-social-link:focus {
    background-color: #404bbf;
    ;
}

.icon {
    fill: #f4f4fd;
}


/*-------------------------------*/

/*-----------PORTFOLIO-------------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 24 * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cover-wrap {
position: relative;
overflow: hidden;
}

.portfolio-item:hover .cover-text {
transform: translateY(0%);
}


.cover-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    background: var(--IRIS, #4D5AE5);
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

/*-------------------------------*/

/*-----------FOOTER-------------*/

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-footer {
    align-items: baseline;
    display: flex;
}

.container-footer-logo {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white-part {
    color: var(--CLOUD, #F4F4FD);
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}

.container-footer-socmedia {
    margin-right: 80px;
}

.footer-soc-text {
    color: var(--WHITE, #FFF);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.footer-networks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-networks-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
    background-color: #31D0AA;
}

.footer-social-link:focus {
    background-color: #31d0aa;
}

.social-networks-icon {
    fill: #f4f4fd;
}

.input-title {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background: var(--NAVY-BLUE, #2E2F42);
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.fotter-send-btn {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    border: none;
    fill: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fotter-send-btn:hover,
.fotter-send-btn:focus {
    background-color:#404BBF;
}

.send-icon {
    margin-left: 16px;
}


/*-------------------------------*/

/*------------MODEL--------------*/

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.model {
width: 408px;
min-height: 584px;
border-radius: 4px;
background-color: var(--DAIRY, #FCFCFC);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 72px 24px 24px 24px;
}

.modal-close-btn {
margin-left: auto;
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
justify-content: center;
align-items: center;
}

.modal-close-btn:hover {
background-color: #404bbf;
border: none;
fill: #FFFFFF;
}

.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.model-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
 .model-field {
    margin-bottom: 8px;
 }

.model-imput-wrap {
    position: relative;
}

.model-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus {
    border-color: #4D5AE5;
}

.model-input:focus + .model-icon {
    fill: #4D5AE5;
}

.model-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.model-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-field-comment {
margin-bottom: 16px;
}

.model-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.model-comment:focus {
    border-color: #4D5AE5;
}

.check-field {
    margin-bottom: 24px;
}

    .check-text {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    }

    .policy-link {
        color: var(--IRIS, #4D5AE5);
        line-height: 1.32;
        text-decoration-line: underline;
    }

    .check-icon-field {
        width: 16px;
        height: 16px;
        border: 1px solid #2E2F4266;
        border-radius: 2px;
        margin-right: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }

    .check-input:checked + .check-text span {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;
    }

    .model-send-btn {
        color: var(--WHITE, #FFF);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: block;
        margin:0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .model-send-btn:hover,
    .model-send-btn:focus {
        background-color: #404BBF;
    }
